<div class="card">
    <div class="card-header"> List des demandes</div>
    <div class="card-body">
<table class="table table-striped table-hover">

<thead>
    <th>Id</th>
    <th> cinCommercial</th>
    <th> refOffre</th>
    <th>Montant</th>
    <th>Etat</th>
    <th>Action</th>

</thead>

<tbody>
    <tr *ngFor="let d of demandesCommercial; index as i">
        <td>{{d.id}}</td>
        <td>{{d.cinCommercial}}</td>
        <td>{{d.refOffre}}</td>
        <td>{{d.montant}}</td>
        <td>{{d.etat}}</td>
        <td><span (click)="delete(i)"><i class="fa fa-trash btn btn-danger"></i></span></td>
        <td><span (click)="update(i,d)"><i class="fa fa-edit btn btn-warning"></i></span></td>
        
    </tr>
</tbody>
</table>
</div>
</div>
